/* General Styles */
.announcement-container {
    font-family: 'Fira Sans', sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  /* Header */
  .announcement-header {
    position: relative;
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 8px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .announcement-header h1 {
    display: inline-block;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .saved-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  
  /* Search Bar */
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    font-size: 16px;
    width: 65%; /* Adjusted width */
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-right: 5px;
  }
  
  .search-button {
    padding: 8px 15px;  /* Reduced padding */
    font-size: 16px;   /* Adjusted font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background:  (#139224 );
    color: #fff;
  }
  
  /* Announcements */
  .announcement-list {
    max-height: 400px;
    overflow-y: scroll;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .announcement-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .announcement-text {
    font-size: 1.2rem;
    margin: 0;
  }
  
  /* Save Button */
  .save-button {
    padding: 5px 8px; /* Reduced size */
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    min-width: 70px; /* Set a smaller minimum width */
  }
  
  .save-button.saved {
    background-color: gray;
  }
  
  .save-button.unsaved {
    background-color: green;
  }
  
  /* Saved Announcements Modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 90%;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .close-button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Back Button */
  .back-button {
    display: block;
    margin: 10px auto;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1d8624;
    color: white;
    text-align: center;
    width: 50px; /* Reduced width */
  }
  